table.audit  th{
    color: #000000;
    font-weight: 500;	
}
table.audit  td{
    font-style: italic;
    vertical-align: top;
}
table.audit  tr.space{
   height: 15px;
   border-bottom:1pt solid #000000;
}
table.audit  tr.top{
    height: 25px;	
}
table.audit  th.datetime{
    color: #ec1515;
    width: 16em;	
}