.card-title  {
	font-family: "LatoWeb";
    font-size: 1rem;
}
.card-text.graphic{
	margin-top: 10px;
}
.text-muted {
	font-size: .9rem;
}

.bd-example {
    position: relative;
    padding: 2rem;
    border: 3px solid #eee;
}

@media screen and (max-width: 576px)
#chart-container {
    min-height: 250px;
}

.chartjs{
	height: 60vh;
}

