table.data-statistic {
  font-size: 11px;
  border-collapse:collapse;
  margin-bottom:15px;
  font-weight: normal;
  width:100%;
  color: #333333 !important;
}
	

table.data-statistic caption {
	text-align:left;
	font-size:15px;
	padding-bottom:10px;
}

table.data-statistic td {
	padding:5px;
	border:0.5px solid #fff;
	border-width:0 1px 1px 0;
	font-weight: normal;
}

table.data-statistic th {
	padding:5px;
	border:0.5px solid #fff;
	border-width:0 1px 1px 0;
	font-weight: normal;
}


table.data-statistic td.sth {
	background: #91c5d4;
	font-weight: bold;
}
	
table.data-statistic thead th {
	font-weight: bold;
	text-align: center;
}
		
	
table.data-statistict body th,
table.data-statistic tfoot th {
	text-align:left;
	font-weight: normal;
}
	
table.data-statistic tbody td,
table.data-statistic tfoot td {
	text-align:right;
    font-weight: normal;
    white-space: nowrap;
}
	

	
table.data-statistic tfoot td {
	font-weight:bold;
}
		
.blue thead th {
	background:#91c5d4;
}

.blue thead th[colspan],
.blue thead th[rowspan] {
		background:#66a9bd;
}

.blue  body th,
.blue  tfoot th {
	background:#91c5d4;
}

.blue  tbody td,
.blue  tfoot td {
	background:#d5eaf0;
}

.blue tfoot th {
	background:#b0cc7f;
	font-weight: bold !important;
	text-align:right !important;
}
	
.blue tfoot td {
	background:#d7e1c5;
}
		
.blue tbody tr.odd td { 
	background:#bcd9e1;
}

.blue-alt thead th {
	background:#91a6d4;
}

.blue-alt thead th[colspan],
.blue-alt thead th[rowspan] {
		background:#6c89c3;
}

.blue-alt  body th,
.blue-alt  tfoot th {
	background:#d5d7f0;
}

.blue-alt  tbody td,
.blue-alt  tfoot td {
	background:#c5e1de;
}

.blue-alt tfoot th {
	background:#7fcc9a;
	font-weight: bold !important;
	text-align:right !important;
}
	
.blue-alt tfoot td {
	background:#d7e1c5;
}
		
.blue-alt tbody tr.odd td { 
	background:#bcd9e1;
}

.orange thead th {
	background:#F9A819;
}

.orange thead th[colspan],
.orange thead th[rowspan] {
		background:#fbb232;
}

.orange  body th,
.orange  tfoot th {
	background:#F9A819;
}

.orange  tbody td,
.orange  tfoot td {
	background:#f9deae;
}

.orange tfoot th {
	background:#F97619;
}
	
.orange tfoot td {
	background:#d7e1c5;
}
		
.orange tbody tr.odd td { 
	background:#bcd9e1;
}
.total{
  background: #c8c8c8 !important;
}  