table.data-dictionary {  
	width: 100%;
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    font-size: 11px;
    margin-bottom: 30px;
}

table.data-dictionary td, table.data-dictionary th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

table.data-dictionary th {  
    background: rgb(51, 51, 51,0.2); /* Light grey background */
    color: #5f5f5f;
    font-weight: bold; /* Make sure they're bold */
    text-align: center;
}

table.data-dictionary td.header {  
	background: rgb(51, 51, 51,0.2); /* Light grey background */
    color: #5f5f5f;
    font-weight: bold; /* Make sure they're bold */
    text-align: left;
    padding-left: 10px;
}

table.data-dictionary td.active {  
    background: #23b328; /* Light grey background */
    color: #fff;
    font-weight: bold; /* Make sure they're bold */
    text-align: center;
}

table.data-dictionary td.inactive {  
    background: #c32633; /* Light grey background */
    color: #fff;
    font-weight: bold; /* Make sure they're bold */
    text-align: center;
}


table.data-dictionary td {  
    text-align: left; /* Center our text */
    padding-left: 10px;
}

table.multidata {  
    width: 100%;
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    font-size: 11px;
}
table.multidata td {  
    border: none;
    padding-left: 10px;
}