* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #025272 !important;	
  padding: 0;
  margin: 0;
}

#http-error {
  position: relative;
  height: 100vh;
}

#http-error .msg-error {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.msg-error {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  padding: 110px 40px;
  text-align: center;
}

.msg-error .code-error  {
  position: relative;
  height: 180px;
}

.msg-error .code-error  h1 {
  font-family: "LatoWeb";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12rem;
  font-weight: 700;
  margin: 0px;
  color: #2b2b2b;
  text-transform: uppercase;
}

.msg-error .code-error  h1>span {
  color: #f9f9f9;
}

.msg-error h2 {
  font-family: "LatoWeb";
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #2b2b2b;
  margin-top: 0px;
  margin-bottom: 5px;
}

.msg-error h4 {
  font-family: "LatoWeb";
  font-size: 1.3rem;
  font-weight: 200;
  color: #f9f9f9;
  margin-top: 0px;
  margin-bottom: 25px;
}

.msg-error h3 {
  font-family: "LatoWeb";
    font-size: 1.1rem;
    font-weight: 600;
    color: #f9f9f9;
    margin-top: 5px;
    text-transform: uppercase;
}

.msg-error .search-error  {
  position: relative;
  max-width: 320px;
  width: 100%;
  margin: auto;
}

.msg-error .search-error >input {
  font-family: "LatoWeb";
  width: 100%;
  height: 50px;
  padding: 3px 65px 3px 30px;
  color: #151515;
  font-size: 16px;
  background: transparent;
  border: 2px solid #c5c5c5;
  border-radius: 40px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.msg-error .search-error >input:focus {
  border-color: #00b7ff;
}

.msg-error .search-error >button {
  position: absolute;
  right: 15px;
  top: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.msg-error .search-error >button>span {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  margin-left: -3px;
}

.msg-error .search-error >button>span:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  border: 4px solid #c5c5c5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.search-error >button>span:before {
  position: absolute;
  content: '';
  width: 4px;
  height: 10px;
  left: 7px;
  top: 17px;
  border-radius: 2px;
  background: #c5c5c5;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.msg-error .search-error >button:hover>span:after {
  border-color: #00b7ff;
}

.msg-error .search-error >button:hover>span:before {
  background-color: #00b7ff;
}

@media only screen and (max-width: 767px) {
  .msg-error h2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  .msg-error .code-error  h1 {
    font-size: 141px;
  }
}
