
.card {
  margin: 10px 10px;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}



.invetory-container{
  padding-left: 10px;
  font-family: "LatoWeb" !important;
}
.invetory-container .row{
  padding: 0 !important;
}

.invetory-container h3{
  font-size: 0.85rem;
}

.invetory{
    padding-right: 0px !important;
    padding-left: 15px !important;
    padding-bottom: 10px !important;
    font-family: "LatoWeb" !important;
}


@media (min-width: 640px) {
  .invetory-container {
    padding: 0px !important; 
  }
  .invetory {
    padding-right: 10px !important;
    padding-left: 0 !important;
    min-height: 150px;
  }
  .tab-pane-btn {
    padding: 15px 30px 0 0 !important;
  }
}

@media (max-width: 645px){
  .invetory {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 10px !important;
  }
}



.invetory .invetory-panel{
    background-color: #efefef;
    padding: 0 !important;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


.invetory .header{  
  padding-left: 5px;  
  padding-right: 0; 
}




.invetory .invetory-panel .row{
  margin-left: 0 !important; 
  padding: 0 !important; 
}    


.invetory .hidden{
  display: none;
}


.tab-pane-title {
    color: #417774;
    clear: both;
    display: block;
    font-family: "LatoWeb";
    font-size: 1.2rem;
    padding: 15px 0 0;
    width: 100%;
    margin-bottom: 15px;
}
.tab-pane-btn {
    color: #417774;
    display: block;
    font-family: "LatoWeb";
    font-size: 1.2rem;
    padding: 0 !important;
    width: 100%;
    margin-bottom: 15px;
}

.invetory-container .week{
    color: #85a27a;
    clear: both;
    display: block;
    font-family: "LatoWeb";
    font-size: 1rem;
    padding: 0;
    width: 100%;
    margin-top: 15px;
}

.invetory-container .place{
    margin-top: 15px;
}

.invetory-container .place .name{
    color: #265058;
    font-family: "LatoWeb";
    font-size: 0.8rem;
    text-align: left;
    padding: 0;
}

.invetory-container .place .add{
    color: #265058;
    font-family: "LatoWeb";
    font-size: 0.8rem;
    text-align: right;
    padding-right: 10px;
}

.invetory-container .place .add a{
   color: #417774 !important;
}


.invetory-container .line{
    color: #85a27a;
    clear: both;
    display: block;
    font-family: "LatoWeb";
    font-size: 1rem;
    padding: 0;
    width: 100%;
}
.inventory-item{
    padding: 0;
}
.invetory .table{  
    border-left: 5px solid #417774;
    background: #85a27a;
    color: #fff;
    padding: 0.6rem 0.7rem !important;
    font-size: 0.83rem !important;
    margin-bottom: 0;
 } 

 .invetory .empty{  
    border-left: 5px solid #000;
    background: #2d2d2d;
    color: #fff;
    padding: 0.6rem 0.7rem !important;
    font-size: 0.83rem !important;
    margin-bottom: 0;
 } 

 .invetory .strain{  
    border-left: 5px solid #417774;
    padding: 0.6rem 0.7rem !important;
    font-size: 0.83rem !important;
    margin-bottom: 0;
 } 

 .invetory .strain.status-p{  
    border-left: 5px solid #abd137;
 } 
 .invetory .strain.status-a{
  border-left: 5px solid #e13428;
}
.invetory .strain.status-b{
  border-left: 5px solid #417774;
}
.invetory .strain.status-c{
  border-left: 5px solid #e5ba41;
}    
.invetory .strain.status-d{
  border-left: 5px solid #abd137;
}   
.invetory .strain.status-e{
  border-left: 5px solid #75787b;
}  
.invetory .strain.status-f{
  border-left: 5px solid #cd4f48;
}  
.invetory .strain.status-Plague{
  border-left: 5px solid #ea4335;
}  
.invetory .strain.status-Chemical{
  border-left: 5px solid #cd4f48;
} 

.invetory .body{
    padding: 0.8rem 0 0 0 !important;
    font-size: 0.9rem;
    margin-bottom: 0;
    display: none;
}

.invetory .body span{
   padding-left: 0; 
   margin-bottom: 5px;
   font-size: 14px;
    font-weight: 500;
}
 .invetory .table-bar{
    background: #417774;
    padding: 0.6rem 0.7rem !important;
    font-size: 0.83rem !important;
    margin-bottom: 0;
    text-align: right
}

.invetory .bar{
    background: #417774;
    padding: 0.6rem 0.7rem !important;
    font-size: 0.83rem !important;
    margin-bottom: 0;
    text-align: right;
}
.invetory h6{
    margin-bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 0.75rem !important; 
    border-left: 5px solid #75787b;
}

.invetory h4{
  font-family: "LatoWeb" !important;
    font-style: italic;
     margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.2rem !important; 
}

.invetory h5{
    font-size: 1.3rem !important;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

.invetory a{
    color: #ffffff !important;
    padding-left: 6px;
 }   
 .invetory a:hover,a:focus{
    color: #85a27a !important;
 }  
    
 
.carousel-inner{
    padding: 0 !important;
}
.carousel-item{
    padding: 0 !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 1rem;
}   
@media (min-width: 768px) {

    /* show 3 items */

    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item{
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item  {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item{
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item{
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    /*animation*/
    .carousel.carousel-fade .carousel-item {
    display: block;
    opacity: 0;
    transition: opacity ease-out 0.7s;
    left: 0;
    top: 0;
    position: absolute;
}
.carousel.carousel-fade .carousel-item.active {
    opacity: 1 !important;
}
.carousel.carousel-fade .carousel-item:first-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 0.7s;
}
.carousel.carousel-fade .carousel-item:second-child {
    top: auto;
    position: relative;
    transition: opacity ease-out 0.7s;
}

}

span.disabled{
  color: #85a27a;
}

span.remain{
  color: #B30000;
}

