
body {
	font-family: "LatoWeb";
    font-size: 14px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: #e7be96;
}

.logo {
    font-family: "LatoWeb";
    padding: 0 60px;
    font-size: 4rem;
    margin-top: 10%;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #007874;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
}

h1 img{
	margin: auto;
}
img { max-width: 100%; }

::-moz-selection { background: #6db3b5; color: #fff; text-shadow: none; }
::selection { background: #6db3b5; color: #fff; text-shadow: none; }

.form-control {
    border-radius: 0px !important;

}	
.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #de615e;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 50px 0 170px 0;
}
.top-content {
	width: 100%;
	height: 100%;
	position: relative !important;
}
.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 85px;
}

.form-top {
    overflow: hidden;
    padding: 0;
    text-align: center;
    background: #ffffff85;
}

.form-top h3 {  
	margin-bottom: 0;
	color: #fff; 
	font-size: 1.2rem;
}

.form-top h3 span{ 
	font-style: italic;
}

.form-top p { opacity: 0.8; color: #000; }

.form-top-center {
	float: left;
	width: 70%;
	padding-top: 35px;
    padding-left: 15px;
}

.form-top-center h3 { 
	margin-top: 0; 
	margin-bottom: 0;
	color: #fff; 
}
.form-top-center p { opacity: 0.8; color: #fff; }

.form-top-left {
	float: left;
	width: 15%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
}

.form-top-right {
	float: left;
	width: 15%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: left;
}

.form-top-right span { opacity: 0.4; color: #fff; }

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #ffffff85;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #de615e;
}

.form-bottom-left {
	float: left;
	width: 30%;
	font-size: 66px;
	padding-top: 25px;
}

.form-bottom-left h3 { margin-top: 0; color: #fff; }
.form-bottom-left p { opacity: 0.8; color: #fff; }

.form-bottom-right {
	float: left;
	width: 70%;
	padding-top: 8px;
	font-size: 16px;
	color: #fff;
	line-height: 100px;
	text-align: left;
	opacity: 0.8;
	padding-left: 8px;
}

.form-footer {
	overflow: hidden;
	padding: 0 25px 10px 25px;
	background: #ffffff85;
	text-align: left;
}

.form-footer-left {
	float: left;
	width: 25%;
	padding-top: 25px;
}

.form-footer-left h3 { margin-top: 0; color: #fff; }
.form-footer-left p { opacity: 0.8; color: #fff; }

.form-footer-right {
	float: left;
	width: 75%;
	color: #fff;
	text-align: right;
}
.form-footer-right p { 
	opacity: 0.4; 
	color: #fff; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.form-copy {
	overflow: hidden;
	padding: 0 25px 0 30px;
	text-align: left;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

.error {
	    color: #df3232;
    padding-left: 15px;
}

.select-login{
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
  }  



/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}

.form-group {
   margin-bottom: 0;
}

.far {
 margin-right: 5px;
}