.packing-list{
  font-size: 2px;
  text-align: center;
}

.packing-list .name {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.packing-list table.date {
    border: solid #75787b;
}

.packing-list table.consignatario {
    font-size: 14px;
    margin-bottom: 15px;
}

.packing-list table.consignatario td,
.packing-list table.consignatario th{
    text-align: left;
}


