.palette-type-100 thead th {
	background: #00ACC1;  /* Material Foundation The color system 600*/
	color: #000000;
    font-weight: lighter !important;
}

.palette-type-100 thead th[colspan],
.palette-type-100 thead th[rowspan] {
	background: #00838F;  /* Material Foundation The color system 800*/
    color: #ffffff;
    font-weight: lighter;
}

.palette-type-100  tbody th,
.palette-type-100  tfoot th {
	background:#E0E0E0; /* Material Foundation The color system Gray 50 fixed 200*/
	text-align:center !important;
	font-weight: lighter !important;
}

.palette-type-100  tbody td,
.palette-type-100  tfoot td {
	background:#EEEEEE /* Material Foundation The color system Gray 50 fixed 200*/
}

.palette-type-100 tfoot th {
    background: #00ACC1;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}
	
.palette-type-100 tfoot td {
	background: #00ACC1;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}
	
.card-i [data-background-color="palette-type-200"] {
    background: linear-gradient(to right, rgba(238,238,238,0.8), rgba(238,238,238,1)); /* Material Foundation The color system Gray 50 fixed 200*/
}

.palette-type-200 thead th {
	background: #00897B;  /* Material Foundation The color system 600*/
	color: #000000;
    font-weight: lighter !important;
}

.palette-type-200 thead th[colspan],
.palette-type-200 thead th[rowspan] {
	background: #00695C;  /* Material Foundation The color system 800*/
    color: #ffffff;
    font-weight: lighter;
}

.palette-type-200  tbody th,
.palette-type-200  tfoot th {
	background:#E0E0E0; /* Material Foundation The color system Gray 50 fixed 200*/
	text-align:center !important;
	font-weight: lighter !important;
}

.palette-type-200  tbody td,
.palette-type-200  tfoot td {
	background:#EEEEEE /* Material Foundation The color system Gray 50 fixed 200*/
}

.palette-type-200 tfoot th {
    background: #00897B;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}
	
.palette-type-200 tfoot td {
	background: #00897B;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}
	


.palette-type-300 thead th {
    background: #FFB300;  /* Material Foundation The color system 600*/
    color: #000000;
    font-weight: lighter !important;
}

.palette-type-300 thead th[colspan],
.palette-type-300 thead th[rowspan] {
    background: #FF8F00;  /* Material Foundation The color system 800*/
    color: #ffffff;
    font-weight: lighter;
}

.palette-type-300  tbody th,
.palette-type-300  tfoot th {
    background:#E0E0E0; /* Material Foundation The color system Gray 50 fixed 200*/
    text-align:center !important;
    font-weight: lighter !important;
}

.palette-type-300  tbody td,
.palette-type-300  tfoot td {
    background:#EEEEEE /* Material Foundation The color system Gray 50 fixed 200*/
}

.palette-type-300 tfoot th {
    background: #FFB300;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}
    
.palette-type-300 tfoot td {
    background: #FFB300;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}
    
.card-i [data-background-color="palette-type-400"] {
    background: linear-gradient(to right, rgba(238,238,238,0.8), rgba(238,238,238,1)); /* Material Foundation The color system Gray 50 fixed 200*/
}

.palette-type-400 thead th {
    background: #FB8C00;  /* Material Foundation The color system 600*/
    color: #000000;
    font-weight: lighter !important;
}

.palette-type-400 thead th[colspan],
.palette-type-400 thead th[rowspan] {
    background: #EF6C00;  /* Material Foundation The color system 800*/
    color: #ffffff;
    font-weight: lighter;
}

.palette-type-400  tbody th,
.palette-type-400  tfoot th {
    background:#E0E0E0; /* Material Foundation The color system Gray 50 fixed 200*/
    text-align:center !important;
    font-weight: lighter !important;
}

.palette-type-400  tbody td,
.palette-type-400  tfoot td {
    background:#EEEEEE /* Material Foundation The color system Gray 50 fixed 200*/
}

.palette-type-400 tfoot th {
    background: #FB8C00;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}
    
.palette-type-400 tfoot td {
    background: #FB8C00;  /* Material Foundation The color system 600*/
    text-align: right !important;
    color: #000000;
    font-weight: lighter !important;
}

