.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #025272;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #025272;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.full-left::after {
    height: 100%;
    left: calc(50% - 0px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}
.how-it-works.row .col-2.top-right::after {
    height: 50%;
    left: 46%;
    top: 0;
}

.how-it-works.row p {
    margin-bottom: 0;
    font-family: 'Font Awesome 5 Pro';
  font-size: 1rem;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #025272;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #025272;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}


.timeline-container {
  padding: 0 !important;
}  

.event {
  font-family: 'Font Awesome 5 Pro';
  font-size: 1rem;
  color: #025272;
  clear: both;
  display: block;
  width: 100%;
}
.event.Clone:before{
  content: "\f471";
  padding-right: 5px;
}
.event.Transplant:before{
  content: "\f06c";
  padding-right: 5px;
}
.event.Move:before{
  content: "\f474";
  padding-right: 5px;
}
.event.Locate:before{
  content: "\f041";
  padding-right: 5px;
}
.event.Kill:before{
  content: "\f54c";
  padding-right: 5px;
}
.event.Scounting:before{
  content: "\f188";
  padding-right: 5px;
}
.event.Spraying:before{
  content: "\f5bd";
  padding-right: 5px;
}
.event.Trimming:before{
  content: "\f0c4";
  padding-right: 5px;
}
.event.Nutrient:before{
  content: "\f575";
  padding-right: 5px;
}
.event.Potency:before{
  content: "\f004";
  padding-right: 5px;
}