
  <div id="message">
    <div class="message">
      <div class="message-code">
      <img src="../asset/images/logo.png"  alt="Guaramo">
      </div>
      <h2>7103  Unauthorized</h2>
      <h4>Your user does not have permission for this task.</h4>   

      
      
    </div>
  </div>

