
  	<div id="http-error">
  		<div class="msg-error">
  			<div class="code-error">
  				<h1><span class="far fa-skull-crossbones" aria-hidden="true"></span></h1>
  			</div>
  			<h3>User session failed</h3>			
  		</div>
  	</div>

